<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
    <div>
        <label>Email</label><br>
        <input name="email" formControlName="userEmail" />
  
        @if(myForm.controls["userEmail"].invalid && myForm.controls["userEmail"].touched){
            <div class="alert">Некорректный email</div>
        }
    </div>
    <div>
        <label>Пароль</label><br>
        <input name="password"  type = "password" formControlName="userPassword" />
  
        @if(myForm.controls["userPassword"].invalid && myForm.controls["userPassword"].touched){
            <div class="alert">Некорректный пароль</div>
        }
    </div>

      
    <input type = "checkbox" [disabled]="myForm.invalid" flag="true">

    <div formArrayName="hobby">
        @for(hobby of getFormsControls()["controls"]; track $index){
            <div>
                <label>Увлечение</label><br>
                <input formControlName="{{$index}}" />
            </div>
        }
        </div>
        <button (click)="addHobby()" [disabled]="myForm.invalid">Добавить увлечение</button>
    <button [disabled]="myForm.invalid">Отправить</button>
    <button type="button" (click)="resetForm()" [disabled]="myForm.invalid">Сбросить</button>
    </form>

